*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*INIZIO HEADER*/

header{
    background-color: lightblue;
    height: 60px;
    display:flex;
    align-items: center;

}
.container-head {
    width: 70%;
    margin:0 auto;
    
    
}
.row-head {
    width: 100%;
    display: flex;
    
}

.col-head1{
    width: 20%;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    padding-top:4px;
    padding-left: 5px;

    
    

}

.col-head2{
    width: 60%;
    background-color: orange;
    border: 1px dashed black;
    text-align: center;
    padding-top:4px;
    
    
}

.col-head3{
    width: 20%;
    background-color: orange;
    border: 1px dashed black;
    text-align:end;
    padding-top:4px;
    padding-right: 5px;


}
/*FINE HEADER*/














